@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hero-gradient-color-1: #292929;
  --hero-gradient-color-2: #484848;
}

body {
  font-size: 16px;
}

.text-balance {
  text-wrap: balance;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 1;

  color: white;
}

.hero {
  padding-top: 70px;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(/assets/images/hero-background.png),
    linear-gradient(
      to bottom,
      var(--hero-gradient-color-1),
      var(--hero-gradient-color-2)
    );
  background-size: cover;
  background-position: 0px 0px;

  h3 span {
    display: inline-block;
  }

  .commute-text-container {
    position: absolute;
    display: flex;
    gap: 50px;
    bottom: 0;
    z-index: 1;

    p {
      font-size: 264px;
      line-height: 300px;
      color: white;
      width: 100vw;
      text-align: center;
      opacity: 0.5;

      &:nth-of-type(2) {
        filter: invert(1);
      }

      span {
        font-style: italic;
      }
    }
  }
}

.section-2 {
  z-index: 2;
  position: relative;

  > div:first-of-type {
    border-bottom: 1px solid lightgray;
  }

  .marquee-container {
    overflow: hidden;

    .marquee {
      display: flex;
      gap: 20px;
      font-size: 246px;
    }
  }
}

.section-3 {
  .heading span {
    display: inline-block;
  }

  .image-grid {
    padding: 0 6rem;
    gap: 40px;
    width: 100%;

    .grid-item {
      position: relative;
      padding: 40px;

      img {
        background-color: #222222;
      }

      .grid-item--description {
        z-index: 1;
        position: relative;

        h3 {
          font-size: 32px;
          line-height: 38.4px;
          margin-bottom: 8px;
        }

        p {
          // font-size: 18px;
          line-height: 27px;
          opacity: 0.5;
          max-width: 450px;
          text-wrap: balance;
        }
      }

      &.grid-item__full {
        grid-column: span 2 / span 2;
        display: flex;
        align-items: flex-end;
        height: 720px;

        img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: bottom;
        }
      }

      &.grid-item__half {
        grid-column: span 1 / span 1;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}


section.prefooter {
  padding: 0px 52px 48px 52px;
  background-color: #222222;
  background-image: url(/assets/images/prefooter.png);
  background-size: cover;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 246px;
    line-height: 246px;
    color: white;
  }

  div {
    border-top: 1px solid white;
    padding-top: 24px;

    p {
      font-size: 48px;
      line-height: 120%;
      color: white;
    }
  }
}

footer {
  background-color: black;
  padding: 80px 56px;
}